<div class="content" style="background-image: url(./images/bg.jpg);">
    {% include "home/header.html.twig" %}
    <div class="container-content">
        <div class="contenu">
            <h1 class="content-title display-2"><strong>Accélérez vos recherches</strong></h1>
            <div class="input-group input-group-lg search-contenu">
                <input id="search-input" type="search" id="form1" class="form-control" />
                <button id="search-button" type="button" class="btn btn-search input-group-append">
                    Search
                </button>
            </div>
        </div>

    </div>
</div>
<script>
    const searchInput = document.getElementById('search-input');
    $(document).ready(function() {
        $("#search-button").click(function() {
            const inputValue = searchInput.value;
            alert(inputValue);
        });
    });
</script>