<header id="header">
    <nav class="navigation ">
        <div class="brand">
            <h1 id="title">
                <a href="{{ path('home')}}"><strong>RoadSafety.mg</strong> </a>
            </h1>

        </div>
    </nav>
</header>