<style>
    .col {
        background-color: red;
        margin-right: 25px;
    }
    
    .post-content {
        width: 80%;
        margin: auto;
    }
</style>
<div class="post-content">
    <div class="row">
        <div class="col border border-1">
            produit 1
        </div>
        <div class="col border border-1">
            produit 2
        </div>
        <div class="col border border-1">
            produit 3
        </div>
    </div>
</div>