<div class="sidebar">
    <ul class="sidebar_menu">
        <li class="link-item"><a href="#">Date et lieu de perte</a></li>
        <li class="link-item"><a href="#">Catégories</a></li>
        <li class="link-item"><a href="#">Description</a></li>
        <li class="link-item"><a href="#">Identité</a></li>
        <li class="link-item"><a href="#">Contact</a></li>
    </ul>
</div>