{% extends 'base.html.twig' %} {% block title %}Platforme!{% endblock %} {% block body %}
<style>

</style>
{% include "home/header.html.twig" %}
<div class="wrapper">
    {% include "declaration/aside.html.twig" %}
    <div class="content">
        {{ include('declaration/form.html.twig') }}
        <input type="button" value="Suivant" class="btn btn-primary bouton-suivant">
    </div>
</div>
<script>
    $(document).ready(function() {
        // $('#declaration_description').hide();
        // $('#declaration_type').hide();
        // $('button').hide()
    });
</script>
{% endblock %}