{% extends 'base.html.twig' %} {% block title %}Add Declaration{% endblock %} {% block body %}
<div class="declaration-container">
    {% include "home/header.html.twig" %}
    <div class="declaration-contenu row topspace">
        <!-- Sidebar -->
        <aside class="col-md-4 sidebar sidebar-left declaration-sidebar">
            <div class="row widget">
                <span class="diplay-3"> Date et lieu de perte</span>
            </div>
            <div class="row widget">
                <span class="diplay-3"> Catégories</span>
            </div>
            <div class="row widget">
                <span class="diplay-3">Identité</span>
            </div>
            <div class="row widget">
                <span class="diplay-3"> Contact</span>
            </div>
        </aside>
        <div class="col-sm-8 maincontent">
            <h1>Faire une déclaration</h1>
            {{ include('declaration/_form.html.twig') }}
        </div>
    </div>
</div>

{% endblock %}