{% extends 'base.html.twig' %} {% block title %}Platforme!{% endblock %} {% block body %}
<style>
    .example-wrapper {
        margin: 5em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>

{% include "home/header.html.twig" %}

<div class="example-wrapper">
    <h1>Inscription</h1>
</div>
{% endblock %}