.wrapper {
    margin: 5em;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.wrapper .sidebar {
    position: absolute;
    top: 1;
    left: 1;
    transform: translate(-4%, -3%);
    width: 225px;
    height: 400px;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.content {
    height: auto;
    position: absolute;
    width: 78%;
    top: 1;
    left: 1;
    transform: translate(20%, -2%);
    padding: 40px !important;
}

.sidebar_menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    left: 1;
    top: 1;
    transform: translate(-7%, 12%);
}

.sidebar_menu li {
    padding: 15px;
    background-color: #f1f1f1;
    display: block;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.sidebar_menu li a {
    text-decoration: none;
}

.sidebar_menu li:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
}