#title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    padding-top: 5px;
    left: 10;
    transform: translate(5%);
}

#header {
    height: 5em;
    border-bottom: #B7BF99;
}

#title a {
    text-decoration: none;
    font-size: 50px;
    background: rgb(1, 1, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: 100%;
    height: 4em;
    display: flex;
    margin-top: 15px;
    justify-content: safe center;
    background-color: #FFDD00;
    //border-top: rgba($color: #E900E9, $alpha: 0.3);
    //border-bottom: rgba($color: #E900E9, $alpha: 0.3);
    border-bottom-style: solid;
    border-top-style: solid;
}

.menu .link-item {
    font-family: 'Montserrat' sans-serif;
    display: block;
    float: right;
    padding: 12px 25px;
    transition-delay: 1s;
    transition: all 0.3s;
}

.menu .link-item a {
    text-decoration: none;
    list-style-type: none;
    font-size: larger;
    font-weight: 500;
    color: rgb(1, 1, 1);
}

.menu .link-item:active {
    padding: 12px 25px 0px 25px;
    position: static;
    border-bottom: #03BB22 solid;
    box-shadow: rgb(1, 1, 1) 10px;
    margin-bottom: 12px;
    font-size: 500;
}

.menu .link-item:hover {
    padding: 12px 25px 0px 25px;
    position: static;
    border-bottom: #03BB22 solid;
    box-shadow: rgb(1, 1, 1) 10px;
    margin-bottom: 12px;
    font-size: 500;
    //background-color: lightblue;
}

.menu .link-item a:active {
    background-color: lightblue !important;
}

.mon_compte_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.mon_compte_content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.mon_compte_content a:hover {
    background-color: #f5f5f5;
}

.menu #mon_compte:hover .mon_compte_content {
    display: block!important;
}

.menu #mon_compte {
    position: relative;
    display: inline-block;
}

.bouton-suivant {
    left: 50;
    top: 50;
    transform: translate(1300%, 100%);
}